.Property
  .owl-theme .owl-controls .owl-page span
    background: darkBlue
  .Jumbotron
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    wrap()
    wrap('flexbox')
    wrap('middle')
    size 100% 300px
    .title
      col()
      col(1,1)
      color darkBlue
      font-family: otherFont
      font-weight: 700
      font-size 60px
      text-align: center
      +below(767px)
        font-size 40px
    .border
      border 1px solid darkBlue
      size 340px auto
      +below(767px)
        margin 10px auto
      +above(768px)
        margin 20px auto
    .info
      col()
      col(1,1)
      color darkBlue
      text-align: center
      font-family: otherFont
      font-weight: 700
      .address
        font-size: 20px
        line-height: 25px
      i.fa
        font-size 25px
        +below(767px)
          margin 20px auto
        +above(768px)
          margin 20px auto
  .Details
    .slideShow
      padding 60px 0px 0px
      +below(767px)
        padding 30px 0px 0px
      .item.img-wrapper
        wrap()
        wrap('center')
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        size 1200px 600px
        max-width: 100%
        margin auto auto 40px
        +below(767px)
          size 100% 300px
    .info
      wrap()
      wrap('flexbox')
      wrap('middle')
      size 1200px 175px
      max-width: 100%
      margin auto
      margin 40px auto 60px
      background-color: propInfoColor
      .bed
        col()
        col(1,4)
        color darkBlue
        text-align: center
        font-weight: 700
        font-family otherFont
        font-size 20px
        line-height 50px
        +below(767px)
          font-size 16px
      .bath
        col()
        col(1,4)
        color darkBlue
        text-align: center
        font-weight: 700
        font-family otherFont
        font-size 20px
        line-height 50px
        +below(767px)
          font-size 16px
      .area
        col()
        col(1,4)
        color darkBlue
        text-align: center
        font-weight: 700
        font-family otherFont
        font-size 20px
        line-height 50px
        +below(767px)
          font-size 16px
      .mls
        col()
        col(1,4)
        color darkBlue
        text-align: center
        font-weight: 700
        font-family otherFont
        font-size 20px
        line-height 50px
        +below(767px)
          font-size 16px
    .paragraph
      wrap()
      wrap 'center'
      display: block
      font-family: otherFont
      size 1200px auto
      max-width: 100%
      color darkBlue
      margin auto
      line-height 25px
      text-align: center
      h1
        col()
        h1()
        margin auto
        line-height: 25px
      h2
        col()
        h2()
        margin auto
        line-height: 25px
      h3
        col()
        h3()
        margin auto
        line-height: 25px
      h4
        col()
        h4()
        margin auto
        line-height: 25px
      h5
        col()
        h5()
        margin auto
        line-height: 25px
      h6
        col()
        h6()
        margin auto
        line-height: 25px
      p
        normal()
        line-height 25px
        font-size 16px
        width 80%
        margin auto
  .Facilities
    padding 100px 0px
    +below(767px)
      padding 50px 0px
    .title
      text-align: center
      h1()
      color: darkBlue
      font-family: otherFont
      font-weight: 700
    #facilitiesSlide
      wrap()
      wrap('center')
      size 1200px auto
      max-width: 100%
      display block
      margin auto
      .owl-controls
        margin-top 30px
      .item
        col()
        .img-wrapper
          wrap()
          wrap("flexbox")
          wrap("bottom")
          background-repeat: no-repeat
          background-size: cover
          background-position: center
          margin auto
          +below(1024px)
            size 100% 300px
          +above(1025px)
            size 100% 430px
          .specialText
            wrap()
            wrap('flexbox')
            wrap('middle')
            background-color rgba(lightBlue, 0.50)
            size 100% 60px
            color white
            font-size 30px
            font-family: mainFont
            font-weight: 500
            text-align: center
            display: block
            padding-top 14px
  .Featured
    padding-bottom 100px
    +below(767px)
      padding-bottom 50px
    .title
      text-align: center
      h1()
      color: darkBlue
      font-family: otherFont
      font-weight: 700
    #featuredSlide
      wrap()
      wrap('center')
      size 1200px auto
      max-width: 100%
      display block
      margin auto
      .owl-controls
        margin-top 30px
      .item
        col()
        .img-wrapper
          wrap()
          wrap("flexbox")
          wrap("bottom")
          background-repeat: no-repeat
          background-size: cover
          background-position: center
          margin auto
          +below(1024px)
            size 530px 300px
            max-width: 100%
          +above(1025px)
            size auto 300px
            max-width: 530px
          .specialText
            wrap()
            wrap('flexbox')
            wrap('middle')
            background-color rgba(darkBlue, 0.50)
            size 100% 60px
            color white
            font-size 30px
            font-family: mainFont
            font-weight: 500
            text-align: left
            padding-left 40px
            +below(767px)
              padding 0px
              text-align: center
              display: block
              padding-top 14px
        .info
          wrap()
          wrap('center')
          margin auto
          +below(1024px)
            size 530px auto
            max-width: 100%
          +above(1025px)
            size auto auto
            max-width: 530px
          .name
            col()
            col(1,1)
            color darkBlue
            font-family: otherFont
            font-weight: 700
            +below(767px)
              font-size: 18px
              text-align: center
              margin 15px auto 0px
            +above(768px)
              font-size: 20px
              text-align: left
              padding-left 40px
              margin 20px auto 0px
          .price
            col()
            col(1,1)
            color darkBlue
            +below(767px)
              margin 15px auto 0px
              font-size 16px
              text-align: center
            +above(768px)
              margin 5px auto 0px
              font-size 18px
              text-align: left
              padding-left 40px
