.Nav
  absolute top 0px
  width 100%
  z-index 9000
  background-color navbarColor
  .wrap
    center(1280px)
    cf()
    +below(1280px)
      height 50px
    +above(1281px)
      height 160px
    .menuScroll
      fixed top 0px right 0px
      font-size 25px
      background-color menuScrollColor
      color white
      z-index 9999
      padding 13px
      +above(1280px)
        font-size 30px
    .col
      height 100%
      position relative
      a
        align('both')
        font-size 20px
        font-weight: 700
      &.contact
        display: none
        column(0.25)
        a
          i.fa
            padding 5px
            float left
          .linkName
            font-family: otherFont
            padding 3px
            float right
      &.logo
        +below(767px)
          column(0.75)
          a
            &:hover
            &:focus
              opacity: 0.8
            img
              size auto 30px
        +between(768px, 1280px)
          column(1)
          a
            &:hover
            &:focus
              opacity: 0.8
            img
              size auto 30px
        +above(1281px)
          column(1)
          a
            &:hover
            &:focus
              opacity: 0.8
            img
              size auto 109px
      &.menu
        display: none
        column(0.25)
        a
          i.fa
            padding 5px
            float right
            +below(767px)
              font-size 25px
          .linkName
            font-family: otherFont
            padding 3px
            float left
