otherFont = trajan-pro-3
mainFont = museo-sans

//colors
darkBlue = #003785
lightBlue = #0067D4
footerColor = #F2F5F9
propInfoColor = #F2F5F9
navbarColor = #FFF
menuColor = rgba(#003785, 0.75)
overVideo = rgba(#003785, 0.65)
overRyan = rgba(#003785, 0.95)
grey = #7F7F7F
bgTintColor = rgba(white, 0.5)
menuScrollColor = rgba(darkBlue, 0.75)
RyanTint = rgba(#f2f5f9, 0.85)
exploreTint = rgba(darkBlue, 0.38)

ContactInfoTint = rgba(#f2f5f9, 1)
overJumboTronTint = rgba(#f2f5f9, 0.85)

// property.js
infoBorder = #bccce0
slideShowSpecialText = rgba(darkBlue, 0.40)
