.Building
  .owl-theme .owl-controls .owl-page span
    background: darkBlue
    size 8px 8px
  .Jumbotron
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    position relative
    size 100% 300px
    .bgTint
      background-color overJumboTronTint
      size 100% 300px
      .jumbotron-wrapper
        align(b)
        width 100%
        .title
          color darkBlue
          font-family: otherFont
          font-weight: 700
          font-size 60px
          text-align: center
          +below(767px)
            font-size 40px
        .border
          border 1px solid darkBlue
          +below(767px)
            margin 10px auto
            size 200px auto
          +above(768px)
            margin 20px auto
            size 340px auto
        .info
          color darkBlue
          text-align: center
          font-family: otherFont
          font-weight: 700
          .address
            font-size: 20px
            line-height: 25px
          i.fa
            font-size 25px
            +below(767px)
              margin 20px auto 0px
            +above(768px)
              margin 20px auto 0px
  .Details
    margin 90px auto 0px
    +below(767px)
      margin 60px auto 0px
    .intro
      center(900px)
      .img-wrapper
        column(2/7, gutter: 7px)
        height 375px
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        display: block
        +below(767px)
          center(250px)
      .paragraph
        column(5/7, gutter: 7px)
        font-family: otherFont
        color darkBlue
        text-align: left
        +below(767px)
          column(1)
          margin-top 50px
        h1
          h1()
          font-weight: 500
          font-family: sans-serif
          margin-top 0px
          line-height: 40px
          text-align: left
          +below(767px)
            text-align: center
        h2
          h2()
          font-weight: 500
          font-family: sans-serif
          text-align: left
          +below(767px)
            text-align: center
        h3
          h3()
          font-weight: 500
          font-family: sans-serif
          text-align: left
          +below(767px)
            text-align: center
        h4
          h4()
          font-weight: 500
          font-family: sans-serif
          text-align: left
          +below(767px)
            text-align: center
        h5
          h5()
          font-weight: 500
          font-family: sans-serif
          text-align: left
          +below(767px)
            text-align: center
        h6
          h6()
          font-weight: 500
          font-family: sans-serif
          text-align: left
          +below(767px)
            text-align: center
        p
          font-size 16px
          line-height: 27px
          font-weight: 500
          text-align: left
          +below(767px)
            text-align: center
    .rest
      center(900px)
      font-family: otherFont
      color darkBlue
      text-align: center
      h1
        h1()
        font-weight: 500
        font-family: sans-serif
        line-height: 40px
      h2
        h2()
        font-weight: 500
        font-family: sans-serif
      h3
        h3()
        font-weight: 500
        font-family: sans-serif
      h4
        h4()
        font-weight: 500
        font-family: sans-serif
      h5
        h5()
        font-weight: 500
        font-family: sans-serif
      h6
        h6()
        font-weight: 500
        font-family: sans-serif
      p
        font-size 16px
        line-height: 27px
        font-weight: 500
    .arrow
      width 100%
      i.fa
        display: block
        margin 20px auto
        size 30px 30px
        color darkBlue
        font-size 25px
  .Facilities
    padding 20px 0px
    .title
      text-align: center
      h1()
      color: darkBlue
      font-family: otherFont
      font-weight: 700
    #facilitiesSlide
      center(1280px)
      .owl-controls
        margin-top 30px
      .item
        .img-wrapper
          background-repeat: no-repeat
          background-size: cover
          background-position: center
          display: block
          margin auto
          position relative
          +below(1024px)
            size 100% 300px
          +above(1025px)
            size 100% 430px
          .specialText
            absolute bottom 0px
            background-color rgba(lightBlue, 0.50)
            size 100% auto
            color white
            font-size 30px
            font-family: mainFont
            font-weight: 500
            text-align: center
            padding 12px 0px
            +below(767px)
              text-align: center
              display: block
              font-size 25px
              padding 6px 0px
  .Featured
    center(1280px)
    padding-top 100px
    border-bottom 1px solid darkBlue
    .more
      +below(767px)
        margin 25px
      +above(768px)
        margin 50px
        float left
      a
        display: block
        size 200px auto
        background-color darkBlue
        text-align: center
        color: white
        font-family: otherFont
        font-weight: 700
        padding 5px 0px
        font-size 25px
        +below(767px)
          margin auto
    #featuredSlide
      center(1280px)
      .owl-controls
        margin 25px
        +above(768px)
          margin 50px
          absolute bottom -135px right 0px
      .item
        .img-wrapper
          background-repeat: no-repeat
          background-size: cover
          background-position: center
          position: relative;
          display: block
          margin auto
          size 530px 300px
          max-width: 100%
          overflow hidden
          .specialText
            absolute bottom 0px
            background-color rgba(lightBlue, 0.50)
            size 100% auto
            color white
            font-size 30px
            font-family: mainFont
            font-weight: 500
            text-align: left
            padding 12px 40px
            +below(767px)
              text-align: center
              display: block
              font-size 25px
              padding 6px 0px
        .info
          margin auto
          size 530px auto
          max-width: 100%
          .name
            color darkBlue
            font-family: otherFont
            font-weight: 700
            +below(767px)
              font-size: 18px
              text-align: center
              margin 15px auto 0px
            +above(768px)
              font-size: 20px
              text-align: center
              margin 20px auto 0px
          .price
            color darkBlue
            +below(767px)
              margin 15px auto 0px
              font-size 16px
              text-align: center
            +above(768px)
              margin 5px auto 0px
              font-size 18px
              text-align: center
