.Building
  .owl-theme .owl-controls .owl-page span
    background: darkBlue
    size 8px 8px
  .Jumbotron
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    position relative
    size 100% 300px
    .bgTint
      background-color overJumboTronTint
      size 100% 300px
      .jumbotron-wrapper
        align(b)
        width 100%
        .title
          color darkBlue
          font-family: otherFont
          font-weight: 700
          font-size 60px
          text-align: center
          +below(767px)
            font-size 40px
        .Buttons
          margin auto
          display: block
          .Button
            background-color: darkBlue
            color white
            font-weight: 700
            font-family: otherFont
            font-size 18px
            text-align: center
            margin 20px 0px
            cursor: pointer;
            padding 5px 10px
          .forSale
            +below(767px)
              column(1)
              a
                display: block
                margin 10px auto
            +above(768px)
              column(1/2)
              a
                float right
          .forLease
            +below(767px)
              column(1)
              a
                display: block
                margin 10px auto
            +above(768px)
              column(1/2)
              a
                float left
  .Details
    margin 90px auto 0px
    +below(767px)
      margin 60px auto 0px
    .paragraph
      color darkBlue
      font-family: otherFont
      text-align: left;
      +below(767px)
        text-align: center
      h1
        h1()
        text-align: center
        margin 0px auto
      h2
        h2()
        text-align: center
        margin 0px auto
      h3
        h3()
        text-align: center
        margin 0px auto
      h4
        h4()
        text-align: center
        margin 0px auto
      h5
        h5()
        text-align: center
        margin 0px auto
      h6
        h6()
        text-align: center
        margin 0px auto
      p
        margin: 0px auto
        font-weight: 500
        font-size 14px
    .intro
      center(900px)
      .img-wrapper
        column(2/7)
        height 375px
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        display: block
        +below(767px)
          column(1)
      .paragraph
        column(5/7)
        font-family: otherFont
        color darkBlue
        text-align: left
        +below(767px)
          column(1)
        h1
          h1()
          margin 0px auto
        h2
          h2()
          margin 0px auto
        h3
          h3()
          margin 0px auto
        h4
          h4()
          margin 0px auto
        h5
          h5()
          margin 0px auto
        h6
          h6()
          margin 0px auto
        p
          normal()
          line-height 35px
          margin auto
          +below(767px)
            font-size 18px
          +above(768px)
            font-size 18px
        i.fa
          font-size 25px
    .rest
      center(900px)
      font-family: otherFont
      color darkBlue
      text-align: left
      h1
        h1()
        margin 0px auto
      h2
        h2()
        margin 0px auto
      h3
        h3()
        margin 0px auto
      h4
        h4()
        margin 0px auto
      h5
        h5()
        margin 0px auto
      h6
        h6()
        margin 0px auto
      p
        normal()
        line-height 35px
        margin auto
        +below(767px)
          font-size 18px
        +above(768px)
          font-size 18px
  .Facilities
    padding 100px 0px
    +below(767px)
      padding 50px 0px
    .title
      text-align: center
      h1()
      color: darkBlue
      font-family: otherFont
      font-weight: 700
    #facilitiesSlide
      center(1280px)
      .owl-controls
        margin-top 30px
      .item
        .img-wrapper
          background-repeat: no-repeat
          background-size: cover
          background-position: center
          display: block
          margin auto
          position relative
          +below(1024px)
            size 100% 300px
          +above(1025px)
            size 100% 430px
          .specialText
            absolute bottom 0px
            background-color rgba(lightBlue, 0.50)
            size 100% auto
            color white
            font-size 30px
            font-family: mainFont
            font-weight: 500
            text-align: center
            padding 12px 0px
            +below(767px)
              text-align: center
              display: block
              font-size 25px
              padding 6px 0px
  .Featured
    padding-bottom 100px
    +below(767px)
      padding-bottom 50px
    .title
      text-align: center
      h1()
      color: darkBlue
      font-family: otherFont
      font-weight: 700
    #featuredSlide
      center(1280px)
      .owl-controls
        margin-top 30px
      .item
        .img-wrapper
          background-repeat: no-repeat
          background-size: cover
          background-position: center
          position: relative;
          display: block
          margin auto
          size 530px 300px
          max-width: 100%
          overflow hidden
          .specialText
            absolute bottom 0px
            background-color rgba(lightBlue, 0.50)
            size 100% auto
            color white
            font-size 30px
            font-family: mainFont
            font-weight: 500
            text-align: left
            padding 12px 40px
            +below(767px)
              text-align: center
              display: block
              font-size 25px
              padding 6px 0px
        .info
          margin auto
          size 530px auto
          max-width: 100%
          .name
            color darkBlue
            font-family: otherFont
            font-weight: 700
            +below(767px)
              font-size: 18px
              text-align: center
              margin 15px auto 0px
            +above(768px)
              font-size: 20px
              text-align: left
              padding-left 40px
              margin 20px auto 0px
          .price
            color darkBlue
            +below(767px)
              margin 15px auto 0px
              font-size 16px
              text-align: center
            +above(768px)
              margin 5px auto 0px
              font-size 18px
              text-align: left
              padding-left 40px
